<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <img color='medium' src="assets/logo.jpg" width="220px" style="display:inline-block" height="50px">
    <ion-title>
      Sistema de Asistencia Duoc UC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form" [fullscreen]="true">
  <ion-toolbar>
    <ion-label>
      <h1 style="text-align: center;">Registro</h1>
    </ion-label>
  </ion-toolbar>
  <ion-card color="medium" style="padding: 5%;">
    <h2 class="font-negra" style="text-align: center;">Introduce los siguientes datos:</h2>

    <ion-item color="medium">
      <ion-input id="correoRegistrar" type="text" [(ngModel)]="usuario.correo" label="Correo"
        labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item color="medium">
      <ion-input id="nombreRegistrar" type="text" [(ngModel)]="usuario.nombre" label="Nombre"
        labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item color="medium">
      <ion-input id="fraseSecretaRegistrar" type="text" [(ngModel)]="usuario.fraseSecreta" label="Frase secreta"
        labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item color="medium">
      <ion-input id="respuestaSecretaRegistrar" type="text" [(ngModel)]="usuario.respuestaSecreta"
        label="Respuesta secreta" labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item color="medium">
      <ion-input id="passwordRegistrar" type="password" [(ngModel)]="usuario.password" label="Contraseña"
        labelPlacement="floating"></ion-input>
    </ion-item>

    <ion-item color="medium">
      <ion-input id="repeticionPasswordRegistrar" type="password" [(ngModel)]="repeticionPassword"
        label="Repetir contraseña" labelPlacement="floating"></ion-input>
    </ion-item>
  </ion-card>

  <div class="botonCentradoRegistrar">
    <ion-button id="crearPerfil" (click)="crearPerfil()" class="ion-text-center">
      Crear nueva cuenta
    </ion-button>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <ion-title>
      <ion-button id="volver" expand="block" fill="clear" (click)="volverLogin()" shape="round">
        Volver
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>