<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <img color='medium' src="assets/logo.jpg" width="220px" style="display:inline-block" height="50px">
    <ion-title>
      Sistema de Asistencia Duoc UC
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <br>
  <ion-card color="medium">
    <ion-row>
      <ion-col>
        <ion-label style="justify-content: center; align-items: center; color: red;">
          <h2 style="text-align: center; justify-content: center; align-items: center;">¡¡No has recuperado tu
            contraseña!!
          </h2>
        </ion-label>
      </ion-col>
    </ion-row>
  </ion-card>
  <img color='medium' src="assets/htpa.jpg" width="500" style="display:inline-block" height="400px">
</ion-content>


<ion-footer>
  <ion-toolbar color="medium">
    <ion-title>
      <ion-button expand="block" fill="clear" (click)="volverLogin()" shape="round">
        Volver
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>