<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <img color='medium' src="assets/logo.jpg" width="220px" style="display:inline-block" height="50px">
    <ion-title #titulo>
      Sistema de Asistencia Duoc UC
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content class="ion-align-items-center" [fullscreen]="true">
  <br>
  <div id="contenedor">
    <ion-title style="text-align: center; color: red;">
      ¡¡No has recuperado tu contraseña!!
    </ion-title>
  </div>
  <img color='medium' src="assets/htpa.jpg" width="500" style="display:inline-block" height="400px">
  <br>
  <ion-card color='medium'>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <br>
        <ion-icon name="alert" size="large" color="danger"></ion-icon>
        <br>
        <ion-button (click)="volver()">
          <ion-icon name="arrow-undo-outline"></ion-icon>
          Volver
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>