<div>
  <ion-item color="medium">
    <ion-label style="display: flex; justify-content: center; align-items: center;">
      <h1 id="saludo" style="text-align: center;">¡Bienvenid@!</h1>
    </ion-label>
    <br>
    <ion-label>
      <h2 id="nombreUsuario" style="text-align: center;">{{ usuario.nombre }}</h2>
    </ion-label>
  </ion-item>

  <ion-button id="comenzarEscaneo" *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
    Comenzar Escaneo QR
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>
</div>