<div class="fondo">
  <ion-item color="medium">
    <ion-label style="display: flex; justify-content: center; align-items: center;">
      <h1 style="text-align: center;">¡Bienvenid@!</h1>
    </ion-label>
    <br>
    <ion-label>
      <h2 style="text-align: center;">{{ usuario.nombre }}</h2>
    </ion-label>
  </ion-item>

  <ion-button *ngIf="!escaneando" (click)="comenzarEscaneoQR()" expand="full" shape="round">
    <ion-icon slot="start" name="camera"></ion-icon>
    Comenzar Escaneo QR
  </ion-button>

  <video #video [hidden]="!escaneando" width="100%"></video>
  <canvas #canvas hidden></canvas>
</div>