#contenedor {
    display: inline-block;
    min-width: 100px;
    max-width: max-content;
}

ion-content {
    --background: url('../../../assets/background.jpg') no-repeat center/cover fixed;
}

.centrado {
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
}