<ion-menu contentId="menu-content" menuId="menu-content" side="start" type="overlay">
  <ion-header>
    <ion-toolbar>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">Home</ion-content>
  <ion-content class="ion-padding">Cerrar Sesión</ion-content>
  <ion-content class="ion-padding">Datos Asistencia</ion-content>
</ion-menu>
<ion-content [fullscreen]="true">
  <ion-card>
    <table>
      <tr>
        <td>Sede: </td>
        <td>{{sede}}</td>
      <tr>
      <tr>
        <td>Id de Asignatura :</td>
        <td>{{idAsignatura}}</td>
      <tr>
      <tr>
        <td>Seccion: </td>
        <td>{{seccion}}</td>
      <tr>
      <tr>
        <td>Nombre de signatura: </td>
        <td>{{nombreAsignatura}}</td>
      <tr>
      <tr>
        <td>Nombre de Profesor: </td>
        <td>{{nombreProfesor}}</td>
      <tr>
      <tr>
        <td>Dia: </td>
        <td>{{dia}}</td>
      <tr>
      <tr>
        <td>Hora Bloque de Inicio: </td>
        <td>{{bloqueInicio}}</td>
      <tr>
      <tr>
        <td>Hora Bloque de Termino: </td>
        <td>{{bloqueTermino}}</td>
      <tr>
      <tr>
        <td>Hora de Inicio: </td>
        <td>{{horaInicio}}</td>
      <tr>
      <tr>
        <td>Hora Fin: </td>
        <td>{{horaFin}}</td>
      <tr>
    </table>
  </ion-card>
  
</ion-content>
