<ion-header>
  <ion-toolbar>
    <ion-toolbar color="medium" class="ion-align-items-center">
      <ion-button (click)="home()">
        <ion-icon slot="icon-only" name="home"></ion-icon>
      </ion-button>
      <ion-button (click)="cerrar()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-toolbar>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-card>
    <table>
      <tr>
        <td>Sede: </td>
        <td>{{sede}}</td>
      <tr>
      <tr>
        <td>Id de Asignatura :</td>
        <td>{{idAsignatura}}</td>
      <tr>
      <tr>
        <td>Seccion: </td>
        <td>{{seccion}}</td>
      <tr>
      <tr>
        <td>Nombre de signatura: </td>
        <td>{{nombreAsignatura}}</td>
      <tr>
      <tr>
        <td>Nombre de Profesor: </td>
        <td>{{nombreProfesor}}</td>
      <tr>
      <tr>
        <td>Dia: </td>
        <td>{{dia}}</td>
      <tr>
      <tr>
        <td>Hora Bloque de Inicio: </td>
        <td>{{bloqueInicio}}</td>
      <tr>
      <tr>
        <td>Hora Bloque de Termino: </td>
        <td>{{bloqueTermino}}</td>
      <tr>
      <tr>
        <td>Hora de Inicio: </td>
        <td>{{horaInicio}}</td>
      <tr>
      <tr>
        <td>Hora Fin: </td>
        <td>{{horaFin}}</td>
      <tr>
    </table>
  </ion-card>

</ion-content>