<ion-header>
  <ion-toolbar color="secondary" class="ion-align-items-center">
    <img color='medium' src="assets/logo.jpg" width="220px" style="display:inline-block" height="50px">
    <ion-title #titulo>
      Sistema de Asistencia Duoc UC
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content class="background">
  <div style="height: 90%; display: flex; align-items: center;
      justify-content: center;">
    <ion-card style="padding: 5%;">
      <h2 style="text-align: center;">Quedaste presente para la siguiente Asignatura</h2>
      <br>
      <table>
        <tr>
          <td>Sede: </td>
          <td></td>
          <td class="respuesta">{{sede}}</td>
        </tr>
        <br>
        <tr>
          <td>Id de Asignatura :</td>
          <td></td>
          <td class="respuesta">{{idAsignatura}}</td>
        </tr>
        <br>
        <tr>
          <td>Sección: </td>
          <td></td>
          <td class="respuesta">{{seccion}}</td>
        </tr>
        <br>
        <tr>
          <td>Asignatura: </td>
          <td></td>
          <td class="respuesta">{{nombreAsignatura}}</td>
        </tr>
        <br>
        <tr>
          <td>Profesor: </td>
          <td></td>
          <td class="respuesta">{{nombreProfesor}}</td>
        </tr>
        <br>
        <tr>
          <td>Dia: </td>
          <td></td>
          <td class="respuesta">{{dia}}</td>
        </tr>
        <br>
        <tr>
          <td>Bloque de Inicio: </td>
          <td></td>
          <td class="respuesta">{{bloqueInicio}}</td>
        </tr>
        <br>
        <tr>
          <td>Bloque de Termino:</td>
          <td></td>
          <td class="respuesta">{{bloqueTermino}}</td>
        </tr>
        <br>
        <tr>
          <td>Hora de Inicio: </td>
          <td></td>
          <td class="respuesta">{{horaInicio}}</td>
        </tr>
        <br>
        <tr>
          <td>Hora Fin: </td>
          <td></td>
          <td class="respuesta">{{horaFin}}</td>
        </tr>
      </table>
    </ion-card>
  </div>
</ion-content>

<ion-toolbar style="padding: 0px 20%;" color="medium" class="ion-align-items-center">
  <ion-button style="width: 100px;" (click)="home()">
    <ion-icon slot="icon-only" name="return-up-back-outline"></ion-icon>
  </ion-button>
  <ion-button style="width: 100px;" (click)="cerrar()">
    <ion-icon slot="icon-only" name="home"></ion-icon>
  </ion-button>
</ion-toolbar>