<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Sistema de Asistencia DUOC UC</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-title class="ion-padding-top ion-text-center">
    <ion-label>
      <h1>Log In</h1>
    </ion-label>
  </ion-title>
  <div class="ion-padding-vertical">

    <ion-card class="ion-text-center ion-padding-vertical">

      <ion-card-title class="ion-text-center">
        <ion-label>
          <h2>¡Bienvenid@!</h2>
        </ion-label>
      </ion-card-title>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <!-- Usamos ngModel para indicarle al input con que propiedad del controlador va a trabajar -->
          <ion-input type="text" [(ngModel)]="usuario.correo"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating" >Password</ion-label>
          <!--
            El type Password inmediatamente pasa lo que uno
            escribe a *****
            Nuevamente usamos ngModel para indicarle al input que propiedad a utilizar
          -->
          <ion-input type="password" [(ngModel)]="usuario.password"></ion-input>
        </ion-item>
        <ion-row>
        <ion-col size="12">
          <ion-button shape="block" (click)="ingresar()">Ingresar</ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>

    </ion-card>
    <ion-label>
      <br>
      <a [routerLink]="['/correo']">Recuperar Contraseña</a>
    </ion-label>

  </div>
</ion-content>
