<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <img color='medium' src="assets/logo.jpg" width="220px" style="display:inline-block" height="50px">
    <ion-title>
      Sistema de Asistencia Duoc UC
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-toolbar>
    <ion-label>
      <h1 style="text-align: center;">Inicio de sesión</h1>
    </ion-label>
  </ion-toolbar>

  <ion-card color="medium" class="ion-text-center ion-padding-vertical">

    <ion-card-title class="ion-text-center">
      <ion-label>
        <h2>¡Bienvenid@!</h2>
      </ion-label>
    </ion-card-title>

    <ion-card-content>
      <ion-item color="medium">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input id="correo" [(ngModel)]="correo" type="text" placeholder="Ingrese correo"></ion-input>
      </ion-item>
      <ion-item color="medium">
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input id="password" [(ngModel)]="password" type="password" placeholder="Ingrese contraseña"></ion-input>
      </ion-item>
      <ion-row>
        <ion-col size="12">
          <ion-button id="ingresar" shape="block" (click)="ingresar()">Ingresar</ion-button>
        </ion-col>
      </ion-row>
      <ion-label>
        <br>
        <a id="irARegistrar" [routerLink]="['/registrar']">Registrar</a>
      </ion-label>
      <ion-label>
        <br>
        <br>
        <a id="irARecuperarContraseña" [routerLink]="['/correo']">Recuperar Contraseña</a>
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="medium">
    <ion-title>
      <ion-button id="volver" expand="block" fill="clear" (click)="volverLogin()" shape="round">
        Volver
      </ion-button>
    </ion-title>
  </ion-toolbar>
</ion-footer>