<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <img color='medium' src="assets/logo.jpg" width="220px" style="display:inline-block" height="50px">
    <ion-title #titulo>
      Sistema de Asistencia Duoc UC
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-header>
  <ion-toolbar>
    <ion-segment value="all">
      <ion-segment-button value="qr">
        <ion-label>QR</ion-label>
      </ion-segment-button>
      <ion-segment-button value="miClase">
        <ion-label>Mi Clase</ion-label>
      </ion-segment-button>
      <ion-segment-button value="foro">
        <ion-label>Foro</ion-label>
      </ion-segment-button>
      <ion-segment-button value="misDatos">
        <ion-label>Mis Datos</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>


<div style="height: 740px">
  <app-qr>

  </app-qr>
</div>

<div style="height: 740px">
  <app-miclase>

  </app-miclase>
</div>
