<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <img color='medium' src="assets/logo.jpg" width="220px" style="display:inline-block" height="50px">
    <ion-title #titulo>
      Sistema de Asistencia Duoc UC
    </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment [(ngModel)]="selectTabs">
      <ion-segment-button value="qr">
        <ion-label class="titulo_componentes">QR</ion-label>
      </ion-segment-button>
      <ion-segment-button value="miClase">
        <ion-label class="titulo_componentes">Mi
          Clase</ion-label>
      </ion-segment-button>
      <ion-segment-button value="foro">
        <ion-label class="titulo_componentes">Foro</ion-label>
      </ion-segment-button>
      <ion-segment-button value="misDatos">
        <ion-label class="titulo_componentes">Mis Datos</ion-label>
      </ion-segment-button>

    </ion-segment>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf="selectTabs == 'qr'">
    <app-qr (qrCapturado)="irMiClase()">
    </app-qr>
  </div>
  <div *ngIf="selectTabs == 'miClase'">
    <app-miclase>
    </app-miclase>
  </div>
  <div *ngIf="selectTabs == 'foro'">
    <app-foro>
    </app-foro>
  </div>
  <div *ngIf="selectTabs == 'misDatos'">
    <app-mis-datos>
    </app-mis-datos>
  </div>

  <ion-footer>
    <ion-toolbar>
      <ion-title>
        <ion-button (click)="cerrarSesion()" expand="block" fill="clear" shape="round">
          Cerrar Sesion
        </ion-button>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-content>