
  <div style="height: 90%; display: flex; align-items: center;
      justify-content: center;">
    <ion-card style="padding: 5%;">
      <h2 style="text-align: center;">Quedaste presente para la siguiente Asignatura</h2>
      <br>
      <table>
        <tr>
          <td>Sede: </td>
          <td></td>
          <td class="respuesta">{{sede}}</td>
        </tr>
        <br>
        <tr>
          <td>Id de Asignatura :</td>
          <td></td>
          <td class="respuesta">{{idAsignatura}}</td>
        </tr>
        <br>
        <tr>
          <td>Sección: </td>
          <td></td>
          <td class="respuesta">{{seccion}}</td>
        </tr>
        <br>
        <tr>
          <td>Asignatura: </td>
          <td></td>
          <td class="respuesta">{{nombreAsignatura}}</td>
        </tr>
        <br>
        <tr>
          <td>Profesor: </td>
          <td></td>
          <td class="respuesta">{{nombreProfesor}}</td>
        </tr>
        <br>
        <tr>
          <td>Dia: </td>
          <td></td>
          <td class="respuesta">{{dia}}</td>
        </tr>
        <br>
        <tr>
          <td>Bloque de Inicio: </td>
          <td></td>
          <td class="respuesta">{{bloqueInicio}}</td>
        </tr>
        <br>
        <tr>
          <td>Bloque de Termino:</td>
          <td></td>
          <td class="respuesta">{{bloqueTermino}}</td>
        </tr>
        <br>
        <tr>
          <td>Hora de Inicio: </td>
          <td></td>
          <td class="respuesta">{{horaInicio}}</td>
        </tr>
        <br>
        <tr>
          <td>Hora Fin: </td>
          <td></td>
          <td class="respuesta">{{horaFin}}</td>
        </tr>
      </table>
    </ion-card>
  </div>