<ion-header [translucent]="true">
  <ion-toolbar color="secondary">
    <img color='medium' src="assets/logo.jpg" width="220px" style="display:inline-block" height="50px">
    <ion-title #titulo>
      Sistema de Asistencia Duoc UC
    </ion-title>
  </ion-toolbar>
</ion-header>
<br>
<ion-content class="ion-align-items-center" padding class="background">
  <br>
  <ion-item>
    <ion-label style="display: flex; justify-content: center; align-items: center;">
      <h1 style="text-align: center;">¡Has recuperado tu contraseña!</h1>
    </ion-label>
  </ion-item>

  <img color='medium' src="assets/hspa.jpg" width="500" style="display:inline-block" height="250px">
  <br>
  <br>
  <ion-card class="i" color="medium">
    <ion-card-header>
      <ion-icon class="ion-align-self-center" size="large" name="checkmark" color="success"></ion-icon>
      <ion-card-title style="text-align: center;">Tu contraseña es: </ion-card-title>
      <ion-card-subtitle style="text-align: center;">{{this.usuario.password}}</ion-card-subtitle>
    </ion-card-header>

    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <ion-button (click)="volver()">
          <ion-icon name="arrow-undo-outline"></ion-icon>
          Volver
        </ion-button>
      </ion-col>
    </ion-row>

  </ion-card>
</ion-content>